<div class="card">
<h3><a href="#">Author</a></h3>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur 
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <div>
         <a><i (click)="myFunction(this)"  class="fa fa-heart-o" ></i></a>
    <a><i (click)="myFunction(this)"  class="fa fa-comment-o" ></i></a>
    <a><i (click)="myFunction(this)"  class="fa fa-share-alt"></i></a>
    </div>
    <p>10 Likes</p>
    <br>
    
    <div class="comment">
        <input type="text" placeholder="Enter Comment here..." name="comment">
        <button class="input-button">post</button>
    </div>
</div>
