<div class="card">
            <input placeholder="ENTER TITLE HEADING">
            
            <br>
            <input class="file" type="file" placeholder="Upload image">
            <div class="fakeimg" style="height:200px;">Image</div>
            <br>
            
            <label for="bio"><b>Description</b></label>
            <textarea rows="4" cols="50" name="bio" placeholder="Enter bio here...." form="usrform"></textarea><br>
            
            <button class="input-button">post</button>
        </div>
        
